* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  font-family: 'Merriweather Sans', sans-serif;

  background-color: #22212c;
}
a {
  text-decoration: none;
  color: #837e9f;
}
.profile img {
  box-sizing: border-box;
  border: 2px solid #00ff00;
  width: 128px;
  border-radius: 50%;
}
.name {
  color: #837e9f;
  font: 700 1.4375rem;
}
.title {
  color: #837e9f;
  font: 700 1.25rem;
}
.section {
  width: 100%;
  display: flex;
}
.section2 {
  width: 100%;
  display: flex;
  margin-top: 3rem;
}
.section3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;

  position: absolute;
  padding-bottom: 5.625rem;
}
/*---profile---*/
.section .container {
  position: absolute;
  margin-left: 28rem;
}
.profile {
  width: 21.75rem;
  height: 18.25rem;
  background: #302f3d;
  position: relative;
  top: 2.75rem;
  left: 2.5rem;
  border-radius: 20px;
  display: grid;
  align-content: center;
  justify-items: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  color: #837e9f;
}
.profile h3 {
  padding-top: 1.875rem;
  padding-bottom: 0.625rem;
  font-size: 1.25rem;
}
/*----Info--------*/
.info {
  width: 21.75rem;
  height: 21.75rem;
  background: #302f3d;
  position: relative;
  top: 1.75rem;
  left: 2.5rem;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  color: #837e9f;
}
.info p img {
  padding-right: 1.25rem;
}
.info i {
  font-size: 1.5rem;
  margin-right: 1.25rem;
}
.info p {
  font-size: 0.8125rem;
  padding-left: 2.5rem;
  margin-top: 1.3rem;
  display: grid;
  grid-auto-flow: column;
  justify-content: left;
  align-items: center;
}
.project-box {
  display: flex;
  margin-top: 1.93rem;
}
.projects,
.posts {
  width: 59.5rem;
  height: 5.375rem;
  background: #302f3d;
  margin-top: 2.5rem;
  position: relative;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}
.projects {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.875rem;
}
.projects p {
  color: #837e9f;
  font-size: 0.85rem;
}
.project-1,
.project-2 {
  width: 28.81rem;
  height: 11.7rem;
  background: #302f3d;
  margin-right: 1.93rem;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  color: #837e9f;
  padding-left: 1.875rem;
}
.project-1 .title,
.project-2 .title {
  display: inline-block;
  padding-left: 1rem;
  padding-bottom: 1.5rem;
  margin-top: 1.875rem;
}
.botton {
  display: flex;
  padding-top: 3rem;
  align-content: space-between;
}
.botton .icons {
  display: flex;
  padding-right: 12rem;
}
.icons i {
  padding-right: 0.5rem;
}
.botton .icons p {
  margin-right: 0.5rem;
}
.circle {
  display: flex;
  align-items: center;
}

.ball {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: yellow;
  border: 2px solid #837e9f;
}
.circle p {
  padding-left: 0.3rem;
  font-size: 14px;
}

/*---posts----*/

.post-1 {
  width: 59.5rem;
  height: 13rem;
  background: #302f3d;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}
.section2 .container .posts h3 {
  padding-left: 1.875rem;
  padding-top: 1.875rem;
  font-size: 1.25rem;
  font-weight: 400;
}
.section2 .container {
  padding-bottom: 0.6rem;
  margin-left: 28rem;
  position: absolute;
  top: 21rem;
}
.post-1 img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  margin-left: 1.875rem;
  margin-top: 1.875rem;
}
.project-box .post-1 {
  display: flex;
}
.conteudo-post {
  margin-top: 1.875rem;
  margin-left: 1.25rem;
  color: #837e9f;
}
.conteudo-post h3 {
  padding-bottom: 0.5rem;
  font-weight: 500;
}
.conteudo-post h4 {
  padding: 1.5rem 0 0.5rem;
  font-weight: 200;
}
.conteudo-post ul li {
  display: inline-block;
  padding-right: 1rem;
}
/*------Tecnologias--*/
.tecnologias {
  width: 21.75rem;
  height: 13rem;
  background: #302f3d;
  position: relative;
  border-radius: 20px;
  left: 2.5rem;
  top: 1.875rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}
.tecnologias .box {
  width: 5.375rem;
  height: 1.5rem;
  background: #cb92b1;
  font-size: 0.625rem;
  border-radius: 1.875rem;
  display: inline-block;
  text-align: center;
  margin: 1.2rem 0.3rem 0;
  padding-top: 0.35rem;
  font-weight: bold;
}
.tecnologias {
  padding-top: 1.875rem;
  padding-left: 1.875rem;
}
/*---experience---*/
.experience {
  width: 21.75rem;
  height: 22rem;
  background: #302f3d;
  position: relative;
  left: 2.5rem;
  top: 1rem;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  padding: 1.875rem 1.8rem 1.25rem;
  margin-top: 3rem;
}
.experience .title {
  padding-bottom: 1.25rem;
}
.experience ul,
.education ul {
  margin-left: 2.5rem;
  padding-bottom: 1.5rem;
  font-size: 1.25rem;
}
.experience li,
.education li {
  color: #837e9f;
  font-size: 1rem;
  font-weight: 400;
}
.experience blockquote,
.education blockquote {
  font-style: italic;
  font-size: 0.75rem;
  color: #837e9f;
  line-height: 1rem;
}
.education .title {
  padding-bottom: 1.25rem;
}
.education {
  width: 21.75rem;
  height: 22rem;
  background: #302f3d;
  position: relative;
  left: 2.5rem;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  padding: 1.875rem 1.8rem 1.25rem;
  margin-top: 3rem;
}
